# ディレクトリ
.vscode/
data/
snaps/
snaps/half/*
snaps/half_right/*
snaps/half_left/*
snaps/all/*
snaps/snap*/
pra/
*__pycache__
imgout/
src_def/
log/
MLdata/
MLres/

# 各ファイル
*.zip
*.ipynb
*.exe
*.obj
*.pyx
*.pxd
*.pyi
*.env
*.temp
*.cmd

tree.txt
src/Processing/viewer/template/lic_viewer*.html
