# ディレクトリ
.vscode/
.venv/
*__pycache__

data/
snaps/*
snaps/half_right/*
snaps/half_left/*
snaps/all/*
snaps/snap*/
imgout/
logs/
ML/

src_def/

# 各ファイル
*.env
*.exe
*.ipynb
*.obj
*.pyx
*.pxd
*.pyi
*.temp
*.cmd

tree.txt
src/Processing/viewer/template/lic_viewer*.html
