# ディレクトリ
.vscode/
*__pycache__

data/
snap/
snaps/half/*
snaps/half_right/*
snaps/half_left/*
snaps/all/*
snaps/snap*/
imgout/
MLdata/
MLres/
log/

pra/
src_def/

# 各ファイル
*.env
*.exe
*.ipynb
*.obj
*.pyx
*.pxd
*.pyi
*.temp

tree.txt
src/Processing/viewer/template/lic_viewer*.html
