body{
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
}
#output{
    z-index: 999;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.navi input{
    display: inline;
    width: 78px;
    height: 30px;
    padding: 0px;
    margin: 0px 5px 10px 5px;
}

.cv{
    width:1799px;
    height: 570px;
    position: absolute;
}
.img{
    width: 1799px;
    height: 570px;
    position: absolute;
}
.discribe{
    display: inline;
    padding: 10px;
}
.textinput{
    width: 30px;
    text-align: right;
}
.location p{
    display: inline-block;      
}
.location .loc{
    width: 70px;
}
