<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <link rel="stylesheet" type="text/css" href="viewer.css">
        <title>viewer</title>
    </head>

    <body>
        <p id="currentpath"></p>
        <div class="imgcvs">
            <canvas class="cv" id="cvx"></canvas>
            <canvas class="cv" id="cvy"></canvas>
            <canvas class="cv" id="box"></canvas>
            <canvas class="cv" id="secondbox"></canvas>
            <img id="output" src=""><br><br>
        </div>
        <br/>
        <div class="navi">
            <input type="button" value="100戻る(Q)" onclick="move(-100)"/>
            <input type="button" value="10戻る(S)" onclick="move(-10)"/>
            <input type="button" value="1戻る(A)" onclick="move(-1)"/>
            <input type="button" value="1進む(D)" onclick="move(1)"/>
            <input type="button" value="10進む(W)" onclick="move(10)"/>
            <input type="button" value="100進む(E)" onclick="move(100)"/>
        </div>
        <div class="location">
            <p>範囲の描画1 座標</p>
            <input id="locx" class="loc" type="text"></input>
            <p>Y:</p>
            <input id="locy" class="loc" type="text"></input>
            <p>幅X:</p>
            <input id="rangex" class="loc" type="number" step="5" value="20"></input>
            <p>Y:</p>
            <input id="rangey" class="loc" type="number" step="50" value="150"></input>
        </div>

        <p class="discribe">範囲の描画2</p>
        <p class="discribe">始点X</p><input class="boxinput textinput" id="box1" type="text" value="30">
        <p class="discribe">始点Y</p><input class="boxinput textinput" id="box2" type="text"value="30">
        <p class="discribe">終点X</p><input class="boxinput textinput" id="box3" type="text"value="100">
        <p class="discribe">終点Y</p><input class="boxinput textinput" id="box4" type="text" value="100">
        <br><br>
        <p class="discribe">グリッド幅X:</p><input class="textinput" id="dxinput" type="text" name="text" value="30">
        <p class="discribe">Y:</p><input class="textinput" id="dyinput" type="text" name="text" value="100">
        <p>元データのピクセルに準拠</p>
        <p class="discribe">送信先ファイルパス</p><input id="filepath" type="text" value="./ML/data/LIC_labels/label_snap_org.csv"></input>
    </body>
</html>

<script language="javascript" type="text/javascript">
    function update() {
        target = document.getElementById("output");
        target.setAttribute("src", paths[path_index]);
        document.getElementById("currentpath").innerHTML = paths[path_index];
        // document.getElementById(currentpath).setAttribute("txt",paths[path_index]);
    }

    function move(num) {
        temp = path_index + num;
        if (0 <= temp && temp < paths.length) {
            path_index = temp;
            update();
        }
    }

    function roundDecimal(value, n) {
            return Math.round(value * Math.pow(10, n) ) / Math.pow(10, n);
    }

    function drawlinex(startx, starty, endx, endy) {
        ctxx.beginPath();
        ctxx.lineWidth = 0.8;
        ctxx.strokeStyle = "rgba(0,0,255,0.8)"
        ctxx.moveTo(startx, starty);
        ctxx.lineTo(endx, endy);
        ctxx.stroke()
    }

    function drawliney(startx, starty, endx, endy) {
        ctxy.beginPath();
        ctxy.lineWidth = 0.8;
        ctxy.strokeStyle = "rgba(64,64,255,0.5)"
        ctxy.moveTo(startx, starty);
        ctxy.lineTo(endx, endy);
        ctxy.stroke()
    }
    function drawglidx() {
        ctxx.clearRect(0, 0, imgXlen, imgYlen)
        inputdx = Number(document.getElementById("dxinput").value);
        if (inputdx < 0.2) {
            return 0
        }
        dx = inputdx*imgXlen/orgx
        for (let index = 0; index * dx < imgXlen; index++) {
            drawlinex(index * dx, 0, index * dx, imgXlen)
        }
    }
    function drawglidy() {
        ctxy.clearRect(0,0,imgXlen,imgYlen)
        inputdy = Number(document.getElementById("dyinput").value);
        if (inputdy < 0.2) {
            return 0;
        }
        dy = inputdy * imgYlen / orgy;
        for (let index = 0; index*dy < imgYlen; index++) {
        drawliney(0, index * dy, imgXlen, index * dy);
        }
    }
    function drawbox() {
        boxct.clearRect(0, 0, imgXlen, imgYlen)
        boxct.lineWidth = 2;
        boxct.strokeStyle = "rgba(255,64,64,1)"
        var num1 = Number(box1.value) * imgXlen / orgx
        var num2 = Number(box2.value) * imgYlen / orgy
        var num3 = Number(box3.value) * imgXlen / orgx
        var num4 = Number(box4.value) * imgYlen / orgy
        console.log(num1, num2, num3, num4)
        boxct.beginPath();
        boxct.moveTo(num1, num2);
        boxct.lineTo(num3, num2);
        boxct.lineTo(num3, num4);
        boxct.lineTo(num1, num4);
        boxct.closePath()
        boxct.stroke()
    }

    function calclecs() {
        locnumx = Number(locx.value) * imgXlen / orgx
        locnumy = Number(locy.value) * imgYlen / orgy
        rangenumx = Number(rangex.value) * imgXlen / orgx
        rangenumy = Number(rangey.value) * imgYlen / orgy
        locnumx2 = locnumx - (rangenumx / 2)
        locnumy2 = locnumy - (rangenumy / 2)
    }

    function drawbox2() {
        calclecs()
        boxct2.clearRect(0, 0, imgXlen, imgYlen)
        boxct2.lineWidth = 2;
        boxct2.strokeStyle = "rgba(255,255,64,1)"
        boxct2.beginPath();
        boxct2.moveTo(locnumx2, locnumy2);
        boxct2.lineTo(locnumx2 +rangenumx, locnumy2);
        boxct2.lineTo(locnumx2 + rangenumx, locnumy2 + rangenumy);
        boxct2.lineTo(locnumx2, locnumy2 + rangenumy);
        boxct2.closePath()
        boxct2.stroke()
        console.log(
            "yellow box\n",
            roundDecimal(locnumx2, 0) + ',' +
            roundDecimal(locnumy2, 0) + ',' +
            roundDecimal(locnumx2 + rangenumy, 0) + ',' +
            roundDecimal(locnumy2 + rangenumy, 0)
        )
    }

    //post json
    function sendData(label) {
        calclecs()
        //連想配列
        var _locnumx = Number(locx.value)
        var _locnumy = Number(locy.value)
        var _rangenumx = Number(rangex.value)
        var _rangenumy = Number(rangey.value)
        var _locnumx2 = _locnumx - (_rangenumx/2)
        var _locnumy2 = _locnumy - (_rangenumy/2)
        var json_asocc = [
            {
                "snappath": String(document.getElementById("currentpath").textContent),
                "filepath": String(document.getElementById("filepath").value),
                "locnumx": _locnumx,
                "locnumy": _locnumy,
                "locnumx2": _locnumx2,
                "locnumy2": _locnumy2,
                "rangenumx": _rangenumx,
                "rangenumy": _rangenumy,
                "label": label
            },
        ];

        //JSONにエンコード
        var json_text = JSON.stringify(json_asocc);
        console.log(json_text)

        //データを送信
        xhr = new XMLHttpRequest;       //インスタンス作成
        xhr.onload = function() {        //レスポンスを受け取った時の処理（非同期）
            var res = xhr.responseText;
            if (res.length > 0) alert(res);
        };

        xhr.onerror = function() {       //エラーが起きた時の処理（非同期）
            alert("error!");
        }

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                // callback(xhr.response);
                // console.log(xhr.responseText)
            }
        }

        xhr.open("post", "http://127.0.0.1:8888/postdata", true);    //(1)
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(json_text);    //送信実行
        xhr.onload = () => {
            responseJSON = JSON.parse(xhr.responseText)
            if (responseJSON["status"] === "error") {
                alert(responseJSON["message"])
            }
        } //alertの非表示
    }

    function keypress_event(e) {
        if(focused === false) {
            if(e.key === 'w' || e.key === 'W') {
                move(10)
            } else if (e.key === 'a' || e.key === 'A') {
                move(-1)
            } else if (e.key === 's' || e.key === 'S') {
                move(-10)
            } else if (e.key === 'd' || e.key === 'D') {
                move(1)
            } else if(e.key === 'q' || e.key === 'Q') {
                move(-100)
            } else if (e.key === 'e' || e.key === 'E') {
                move(100)
            } else if (e.key ==='v' || e.key === 'V') {
                sendData(0) // 反応無
            } else if (e.key ==='x' || e.key === 'X') {
                sendData(1) // x点
            } else if (e.key ==='c' || e.key === 'C') {
                sendData(2) // o点
            }
        }
        return false;
    }

	function wheel_event(dir, diff, min, max) {
		event.preventDefault();  // 元のCtrl + マウスホイール時のイベントを止める
		let wheelVal = event.deltaY;
		var range = Number(document.getElementById(dir).value);
		if (wheelVal > 0) {
			range >= 10 + min ? range -= diff : range = min;
		} else {
			range < max - diff + min ? range += diff : range = max;
		}
		document.getElementById(dir).value = range ;
	}


    // 画像の表示範囲
    const imgXlen = 1800;
    const imgYlen = 570;
    // 画像の座標の範囲
    // 切り取ったサイズに合わせる
    const orgx = 257;
    const orgy = 625;

    // 切り取る枠の範囲指定
    const range_x_low = 50
    const range_x_up = 200
    const range_y_low = 5
    const range_y_up = 40
    const range_x = 50
    const range_y = 5

    var path_index = 0
    var paths =[{ replaceblock }]
    update()

    var cvsx = document.getElementById("cvx");
    var cvsy = document.getElementById("cvy");
    var boxs = document.getElementById("box")
    var boxs2 = document.getElementById("secondbox")

    cvsx.setAttribute("width", imgXlen);
    cvsx.setAttribute("height", imgYlen);
    cvsy.setAttribute("width", imgXlen);
    cvsy.setAttribute("height", imgYlen);
    boxs.setAttribute("width", imgXlen);
    boxs.setAttribute("height", imgYlen);
    boxs2.setAttribute("width", imgXlen);
    boxs2.setAttribute("height", imgYlen);

    var ctxx = cvsx.getContext("2d");
    var ctxy = cvsy.getContext("2d");
    var boxct = boxs.getContext("2d");
    var boxct2 = boxs2.getContext("2d");

    const inputx = document.getElementById("dxinput");
    const inputy = document.getElementById("dyinput");

    drawglidx()
    drawglidy()

    inputx.addEventListener("input", drawglidx);
    inputy.addEventListener("input", drawglidy);

    const box1 = document.getElementById("box1");
    const box2 = document.getElementById("box2");
    const box3 = document.getElementById("box3");
    const box4 = document.getElementById("box4");

    box1.addEventListener("input", drawbox);
    box2.addEventListener("input", drawbox);
    box3.addEventListener("input", drawbox);
    box4.addEventListener("input", drawbox);

    const locx = document.getElementById("locx");
    const locy = document.getElementById("locy");
    const rangex = document.getElementById("rangex");
    const rangey = document.getElementById("rangey");

    var locnumx = Number(locx.value) * imgXlen / orgx
    var locnumy = Number(locy.value) * imgYlen / orgy
    var rangenumx = Number(rangex.value) * imgXlen / orgx
    var rangenumy = Number(rangey.value) * imgYlen / orgy
    var locnumx2 = locnumx - (rangenumx / 2)
    var locnumy2 = locnumy - (rangenumy / 2)

    locx.addEventListener("input", drawbox2);
    locy.addEventListener("input", drawbox2);
    rangex.addEventListener("input", drawbox2);
    rangey.addEventListener("input", drawbox2);

    //
    document.getElementById("secondbox").addEventListener("click", function(event) {
        var clickX = event.pageX;
        var clickY = event.pageY;

        // 要素の位置を取得
        var clientRect = this.getBoundingClientRect();
        var positionX = clientRect.left + window.pageXOffset;
        var positionY = clientRect.top + window.pageYOffset;

        // 要素内におけるクリック位置を計算
        var x = clickX - positionX;
        var y = clickY - positionY;
        // locx = document.getElementById("locx")
        // locy = document.getElementById("locy")

        document.getElementById("locx").value = roundDecimal(x * orgx / imgXlen, 0)
        document.getElementById("locy").value = roundDecimal(y * orgy / imgYlen, 0)
        drawbox2()
    } );

    var focused = false
    filepath = document.getElementById("filepath")
    filepath.addEventListener('focus',function(e) {
        focused = true
        console.log("focusing")
    });
    filepath.addEventListener('blur',function(e) {
        focused = false;
    });
    document.addEventListener("keypress", keypress_event);

    window.addEventListener('wheel', function(event) {
        if (event.ctrlKey) {  // Ctrlキーか判定
			wheel_event('rangey', range_x, range_x_low, range_x_up)
		} else if (event.shiftKey) {
			wheel_event('rangex', range_y, range_y_low, range_y_up)
		}
	}, {passive: false});

</script>
